{% set use_heading = false %}
{% set body_class = 'body-medium' %}
{% set extends = 'base.html.twig' %}
{% if modal is defined and modal == true %}
    {% set extends = 'modal.html.twig' %}
{% endif %}
{% extends app.request.get('sort') is null ? extends  : 'sortable-table.html.twig' %}

{% set buttons = [{
    'modal': {
        'title': {
            'key': 'nav.admin_list_school_units',
            'domain': 'nav'
        },
        'reload': true,
    },
    'title': {
        'key': 'action.create',
    },
    'class': 'hidden-sm hidden-md hidden-lg',
    'icon': 'plus',
    'href': path('nav.admin_edit_school_unit')
},{
    'helpmode': {
        'content': {
            'key': 'help.action.list.unit_managers',
            'domain': 'school'
        }
    },
    'modal': {
        'title': {
            'key': 'nav.admin_list_school_unit_managers',
            'domain': 'nav'
        },
        'reload': true,
    },
    'title': {
        'key': 'action.unit_managers',
        'domain': 'school'
    },
    'class': 'btn-managers disabled',
    'icon': 'users'
},{
    'helpmode': {
        'content': {
            'key': 'help.action.list.unit_names',
            'domain': 'school'
        }
    },
    'modal': {
        'title': {
            'key': 'nav.admin_list_school_unit_names',
            'domain': 'nav'
        },
        'reload': true,
    },
    'title': {
        'key': 'action.unit_names',
        'domain': 'school'
    },
    'class': 'btn-names disabled',
    'icon': 'tags'
},{
    'helpmode': {
        'content': {
            'key': 'help.action.list.unit_addresses',
            'domain': 'school'
        }
    },
    'modal': {
        'title': {
            'key': 'nav.admin_list_school_unit_addresses',
            'domain': 'nav'
        },
        'reload': true,
    },
    'title': {
        'key': 'action.unit_addresses',
        'domain': 'school'
    },
    'class': 'btn-addresses disabled',
    'icon': 'file-text-o'
},{
    'separator': true
},{
    'helpmode': {
        'content': {
            'key': 'help.action.edit.school_unit',
            'domain': 'school'
        }
    },
    'modal': {
        'title': {
            'key': 'nav.admin_list_school_units',
            'domain': 'nav'
        },
        'reload': true,
    },
    'title': {
        'key': 'action.edit'
    },
    'class': 'btn-open disabled',
    'icon': 'edit'
},{
    'helpmode': {
        'content': {
            'key': 'help.action.delete.school_unit',
            'domain': 'school'
        }
    },
    'modal': {
        'title': {
            'key': 'action.delete',
            'domain': 'messages'

        },
        'reload': true,
        'type': 'confirm'
    },
    'title': {
        'key': 'action.delete',
        'domain': 'messages'
    },
    'class': 'btn-delete disabled',
    'icon': 'trash-o'
},{
    'helpmode': {
        'content': {
            'key': 'help.action.toggle-active',
            'domain': 'school'
        }
    },
    'title': {
        'key': 'action.toggle_active',
    },
    'class': 'btn-toggle-active disabled',
    'icon': 'power-off',
    'target': '.table-school-units'
},{
    'helpmode': {
        'content': {
            'key': 'help.action.unselect.school_unit',
            'domain': 'school'
        }
    },
    'title': {
        'key': 'action.unselect'
    },
    'class': 'btn-unselect disabled',
    'icon': 'times-circle-o'
},{
    'separator': true
},{
    'helpmode': {
        'content': {
            'key': 'help.action.message.school_unit',
            'domain': 'school'
        }
    },
    'modal': {
        'title': {
            'key': 'nav.message',
            'domain': 'nav'
        }
    },
    'title': {
        'key': 'action.compose'
    },
    'class': 'btn-message disabled',
    'icon': 'envelope-o'
}] %}

{% import 'admin/schools/units/table.html.twig' as table %}
{% import 'admin/schools/units/toolbar.html.twig' as toolBar %}
{% import 'toolbar/contextmenu.html.twig' as contextMenu %}

{% if app.request.get('sort') is null %}
    {% set body_class = 'body-medium' %}
    {% block body %}
        <div class="side-padding">
            <h1>{% trans from 'nav' %}nav.admin_list_school_units{% endtrans %} - {{ school.name }}</h1>
        </div>
        <div class="all-padding">
            <table class="stepper">
                <tbody>
                <tr>
                    <td class="bg-primary"></td>
                </tr>
                </tbody>
            </table>
            {{ toolBar.render_nav(buttons, school) }}
            <div class="workspace">
                <div class="dropdown" style="position:absolute!important; top:0!important; left:0!important;">
                    {{ contextMenu.render_context_menu({'id': 'school_units_context_menu', 'items': buttons|slice(1)}) }}

                </div>
                {{ table.render_sorted_table(schoolUnits, orders, order, sort, school) }}
            </div>
        </div>
        <script type="text/javascript">
            <!--
            $(document).ready(function() {

                $('#{{ request_id()|html_id }} .table-school-units')
                    .on('change', function (e) {
                        console.log('table-change');
                        $(this).find('td').contextMenu({
                            menuSelector: "#school_units_context_menu",
                            menuActivated: function (e) {
                                // select row on context menu
                                if (!$(e.target).parent().hasClass('selected'))
                                    $(e.target).trigger('click');
                            },
                            menuSelected: function (source, e) {
                                // simulate toolbar button click on selected row
                                $($(e.target).data('trigger')).trigger('click');

                            }
                        });
                    })
                    .trigger('change')
                ;

                $('#{{ request_id()|html_id }} ')
                    .on('click', function (e) {
                        var $this = $(this);

                        // if clicking a table row
                        var $td = $(e.target);
                        if ($td.closest('.table-school-units tbody').length > 0) {
                            console.log('select/unselect table row');

                            if (!$td.parent().hasClass('selected')) {
                                console.log('select');

                                // unselect all other rows
                                $this.find('.selected').removeClass('selected');

                                // select this row
                                $td.parent().addClass('selected');

                                // enable tool buttons
                                $this.find('.navbar.toolbar').find('.tool.disabled').removeClass('disabled');

                                // assign correct urls to buttons
                                $this.find('.btn-open').attr('href', $td.parent().data('href'));

                                var $route = Routing.generate('nav.admin_delete_school_unit', {
                                    '_locale': '{{ app.request.locale }}',
                                    'id': $td.parent().data('id')
                                });
                                $this.find('.btn-delete').attr('href', $route);

                                $this.find('.btn-unselect').off().click(function() {
                                    $this.find('.table-school-units tr').removeClass('selected');
                                    $this.find('.navbar.toolbar').find('.tool').addClass('disabled');
                                    return false;
                                });

                                $route = Routing.generate('nav.admin_list_school_unit_managers', {
                                    '_locale': '{{ app.request.locale }}',
                                    'schoolUnit': $td.parent().data('id')
                                });
                                $this.find('.btn-managers').attr('href', $route);

                                $route = Routing.generate('nav.admin_list_school_unit_names', {
                                    '_locale': '{{ app.request.locale }}',
                                    'schoolUnit': $td.parent().data('id')
                                });
                                $this.find('.btn-names').attr('href', $route);

                                $route = Routing.generate('nav.admin_list_school_unit_addresses', {
                                    '_locale': '{{ app.request.locale }}',
                                    'schoolUnit': $td.parent().data('id')
                                });
                                $this.find('.btn-addresses').attr('href', $route);

                                $route = Routing.generate('nav.admin_toggle_school_unit', {
                                    '_locale': '{{ app.request.locale }}',
                                    'id': $td.parent().data('id')
                                });
                                $this.find('.btn-toggle-active').attr('href', $route);

                                $route = Routing.generate('nav.message', {
                                    '_locale': '{{ app.request.locale }}',
                                    'action': 'compose',
                                    'rcptType': 'SchoolUnit',
                                    'rcptId': $td.parent().data('id'),
                                    'msgTypes': 'EMAIL,INTERNAL'
                                });
                                $this.find('.btn-message').attr('href', $route);
                            }
                        }
                    })
                    .on('dblclick', '.table-school-units td', function (e) {
                        $('#{{ request_id()|html_id }} ').find('.btn-open').trigger('click');
                    })
                ;
            });
            //-->
        </script>
    {% endblock %}
{% else %}
    {% block table %}
        {{ table.render_sorted_table(schoolUnits, orders, order, sort, school) }}
    {% endblock %}
{% endif %}