<div class="container-fluid">
    {% set icons = {'ASC': 'fa-chevron-up', 'DESC': 'fa-chevron-down'} %}
    <table class="table table-bordered table-condensed table-striped table-scrollable table-logs">
        <thead>
            <tr>
                <th class="icon">&nbsp;</th>
                <th class="date"><a href="{{ path('nav.user_logs', {'type': key, 'sort': 'timestamp', 'order': orders['timestamp']}) }}">{% trans from 'security' %}logs.date{% endtrans %} {% if sort == 'timestamp' %}<span class="fa {{ icons[order] }}"></span>{% endif %}</a></th>
                <th class="ip"><a href="{{ path('nav.user_logs', {'type': key, 'sort': 'remoteIp', 'order': orders['remoteIp']}) }}">{% trans from 'security' %}logs.ip{% endtrans %} {% if sort == 'remoteIp' %}<span class="fa {{ icons[order] }}"></span>{% endif %}</a></th>
                <th class="host"><a href="{{ path('nav.user_logs', {'type': key, 'sort': 'remoteHost', 'order': orders['remoteHost']}) }}">{% trans from 'security' %}logs.hostname{% endtrans %} {% if sort == 'remoteHost' %}<span class="fa {{ icons[order] }}"></span>{% endif %}</a></th>
                <th class="result">{% trans from 'security' %}logs.result{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for evt in log %}
                <tr>
                    <td class="icon text-{{ evt.level|lower }}"><i class="fa fa-{{ levels[evt.level] }}"></i></td>
                    <td class="date text-{{ evt.level|lower }}">{{ evt.timestamp|date('d.m.Y H:i:s') }}</td>
                    <td class="ip text-{{ evt.level|lower }}">{{ evt.remoteIp }}</td>
                    <td class="host text-{{ evt.level|lower }}">{{ evt.remoteHost }}</td>
                    <td class="result text-{{ evt.level|lower }}">{{ evt.result|trans({}, 'security') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
