{% set use_heading = false %}
{% set body_class = 'body-medium' %}
{% set extends = 'base.html.twig' %}
{% if modal is defined and modal == true %}
    {% set extends = 'modal.html.twig' %}
{% endif %}
{% extends extends %}
{% if relay.id == 0 %}
    {% set no_toolbar = true %}
{% endif %}

{% block body %}
    {% if modal is not defined or modal != true %}
        {{ form_start(form) }}
    {% endif %}
    <div class="side-padding">
        <h1>{% if relay.id != 0 %}{{ relay.name }}{% else %}{% trans from "relay" %}label.create{% endtrans %}{% endif %}</h1>
    </div>
    <div class="all-padding">
        <table class="stepper">
            <tbody>
            <tr>
                <td class="bg-primary"></td>
            </tr>
            </tbody>
        </table>
        {% if relay.id %}
            <nav class="navbar navbar-default toolbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" data-reload="false" data-title="{% trans from 'nav' %}nav.admin_relay_rules{% endtrans %}" data-toggle="modal" href="{{ path('nav.admin_relay_rules', {'relay': relay.id}) }}"><i class="fa fa-balance-scale"></i> {% trans from 'relay' %}label.rules{% endtrans %}</a>
                    </div>
                </div>
            </nav>
        {% endif %}
        <div class="form bg-default all-padding">
            {{ form_row(form.name) }}
            {{ form_row(form.abbreviation) }}
            {{ form_row(form.serviceCategory) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.startGender) }}
            {{ form_row(form.minClassOf) }}
            {{ form_row(form.maxClassOf) }}
            {{ form_row(form.legs) }}
            {{ form_row(form.lanes) }}
            {{ form_row(form.from) }}
            {{ form_row(form.until) }}
            {{ form_row(form.isActive) }}
            {{ form_label(form.schoolTypes) }}
            <div class="well well-sm">
                {{ form_widget(form.schoolTypes) }}
            </div>

            {% if modal is not defined or modal == false %}
                <!--
                {{ form_row(form.close) }}
                {% if relay.id %}
                {{ form_row(form.delete) }}
                {% endif %}
                -->
            <div class="form-nav">
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default" href="{{ path('nav.admin_relays') }}"><i class="fa fa-chevron-left"></i> {% trans from 'relay' %}label.cancel{% endtrans %} <i class="fa fa-undo"></i></a>
                    {% if relay.id %}
                        <a class="btn btn-danger{% if relay.races.count() %} disabled{% endif %}" href="{{ path('nav.admin_relay_delete', {'id': relay.id}) }}"><i class="fa fa-trash"></i> {% trans from 'relay' %}label.delete{% endtrans %} <i class="fa fa-minus"></i></a>
                    {% endif %}
                    <div class="btn-group" role="group">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if modal is not defined or modal != true %}
        {{ form_end(form) }}
    {% endif %}
    <script type="text/javascript">
        <!--
        $('#sort').on('click', function(e) {
            e.preventDefault();
            chevron = $(this).find($('i.fa'));
            if (chevron.hasClass('fa-chevron-up')) {
                chevron.removeClass('fa-chevron-up').addClass('fa-chevron-down');
            } else {
                chevron.removeClass('fa-chevron-down').addClass('fa-chevron-up');
            }
            var list = $('#edit_users');
            var listItems = list.children('div');
            list.append(listItems.get().reverse());
        });
        $('#clear_search').on('click', function() {
            $('#search').val('');
            $(this).addClass('disabled');
            $('#edit_users div').css('display', '');
        });
        $('#search').on('input', function() {
            if ($(this).val().length > 0) {
                $('#clear_search').removeClass('disabled');
                filter = $(this).val();
                $('#edit_users div').css('display', $(this).is(':icontains(' + filter + ')') ? '' : 'none');
            } else {
                $('#clear_search').trigger('click');
            }
        });

        $.expr[":"].icontains = $.expr.createPseudo(function(arg) {
            return function( elem ) {
                return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
            };
        });
        //-->
    </script>
{% endblock %}