{% set use_heading = false %}
{% set body_class = 'body-medium' %}
{% set extends = 'base.html.twig' %}
{% if modal is defined and modal == true %}
    {% set extends = 'modal.html.twig' %}
{% endif %}
{% extends extends %}
{% set no_toolbar = true %}
{% block body %}
    <div class="side-padding">
        <h1>{% if schoolManagerPosition.id != 0 %}{{ schoolManagerPosition.name }}{% else %}{% trans from "school" %}action.create{% endtrans %}{% endif %}</h1>
    </div>
    <div class="all-padding">
        <table class="stepper">
            <tbody>
            <tr>
                <td class="bg-primary"></td>
            </tr>
            </tbody>
        </table>
        <div class="form bg-default all-padding">
            {{ form_row(form.schoolUnit) }}
            {{ form_row(form.manager) }}
            {{ form_row(form.username) }}
            {{ form_row(form.from) }}
            {{ form_row(form.until) }}
            {{ form_row(form.isActive) }}
            {{ form_row(form.type) }}
            {{ form_row(form.status) }}
        </div>
    </div>
{% endblock %}